<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

	<!-- 带参构造函数 -->
	<bean id="str" class="java.lang.String">
		<constructor-arg value="姓名"></constructor-arg>
	</bean>
	<bean id="student" class="spring.Student">
		<constructor-arg type="java.lang.String" ref="str"></constructor-arg>
		<constructor-arg type="java.lang.String" value="地址"></constructor-arg>
		<constructor-arg type="int" value="0"></constructor-arg>
	</bean>
	<!-- 工厂方法的构造函数 -->
	<bean id="factory" class="spring.factory.ColorFactory">
		<constructor-arg index="0" type="java.lang.String" value="Black"></constructor-arg>
	</bean>
	<bean id="color" factory-bean="factory" factory-method="getColorInstance">
	</bean>
</beans>
