<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
        
     
     <!-- 1. 数据源对象: C3P0连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/exam"></property>
		<property name="user" value="root"></property>
		<property name="password" value="182211"></property>
		<property name="initialPoolSize" value="3"></property>
		<property name="maxPoolSize" value="10"></property>
		<property name="maxStatements" value="100"></property>
		<property name="acquireIncrement" value="2"></property>
	</bean>
    
    <!-- 2. JdbcTemplate工具类实例 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
    
	<!-- mybatis的SqlSession工厂：SqlSessionFactoryBean
		 dataSource：引用数据源 
		 configLocation：引入mybatis的配置文件 
	-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:ssmDemo/conf/mybatis-config.xml" /> 
	</bean>
	
	<!-- sessionFacroty模板，用于通用性调用具体接口方法 -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"/>
	</bean>
	
	<!-- dao层 -->
	<bean id="studentDao" class="ssmDemo.dao.StudentDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
	</bean>
	<!-- service层 -->
	<bean id="studentService" class="ssmDemo.service.StudentService">
		<property name="studentDao" ref="studentDao"></property>
	</bean>
	<!-- 事务管理器 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 开启事务注解 -->
	<tx:annotation-driven transaction-manager="txManager" proxy-target-class="true"/>	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- ############# Spring声明式事务管理配置############### -->
	
	<!--<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="get*" read-only="false"/>
			<tx:method name="find*" read-only="false"/>
			<tx:method name="add*" read-only="false"/>
			<tx:method name="*" read-only="false"/>
		</tx:attributes>
	</tx:advice> -->
	<!-- <aop:config>
		<aop:pointcut expression="execution(* ssmDemo.dao.*.*(..))" id="pt"/>
		<aop:advisor advice-ref="txAdvice"/>
	</aop:config> -->
	
</beans>
